@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#containBlock{
    width: 100%;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Inter', sans-serif;
    height: 100%;
    width: 100%;
}

.boxed{
    margin-inline: auto;
    margin-block: 100px;
    max-width: 820px;
    margin: 0 auto;
    padding: 0 10px;
}

.cover{
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    margin-top: 50px;
    margin-bottom: 30px;
}

h1{
  text-wrap: balance;
  font-size: 4rem;
  line-height: 1.15;
  font-weight: 700;
}

#homeBTN{
    margin: 10px 0 10px 0;
    display: flex;
    border-radius: 10px;
    width: 85px;
    padding: 5px;
    background-color: #EEEEEE;
    text-decoration: none;
}

#homeBTN p{
    margin: 0;
    margin-left: 5px;
    color:black;
    text-decoration: none;
}

#homeBtn a{
    text-decoration: none;
}

#legalNoticeBox a{
    text-decoration: none;
}

h2, h3{
    margin: 30px 0;
}

h2{
    font-size: 2.5rem;
    position: relative;
    width: fit-content; 
}

h2::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 25px;
    background-color: #114c8175;
    z-index: -1;
    border-radius: 0 5px 5px 5px;
}

h3{
    font-size: 1.5rem;
}

p{
    margin: 20px 0;
    line-height: 1.5;
}

.single p strong {
    background-color: #114c8175;
    display: inline-block;
    padding: 3px 10px;
    margin-inline: 5px;
    border-radius: 5px;
}

.single ul{
    list-style-position: inside;
    width: fit-content;
    padding: 20px;
    background-color: #114c8175;
    border-radius: 5px;
}

.single ul li{
    line-height: 1.5;
}

.single a{
    color: #114c81;
    font-weight: 600;
}

a {
    color: #114c81;
}

#arrows{
    display: flex;
    justify-content: space-between;
}

#arrows a{
    text-decoration: none;
    display: flex;
    padding: 5px;
    background-color: #EEEEEE;
    border-radius: 10px;
    justify-content: center;
    width: 100px;
}

.arrows{
    display: flex;
}

.arrows p{
    margin: 0;
}

footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto 0;
    padding-bottom: 10px;
}

footer a {
    margin-top: 0;
    display: inline;
    width: auto;
    height: auto;
    border: none;
    box-shadow: none;
}

@media(max-width: 460px;){
    h1{
        text-wrap: initial;
    }
}